.categories-container {
  background-color: rgba(255, 251, 251, 255);
  padding: 0px;
}

.categories-container h1 {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 27px;
  color: #80061f;
  margin-top: 26px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  max-width: 1360px;
  margin: 0 auto;
}

.category-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  animation: fadeIn 1s ease;
  border: 2px solid transparent; /* Default border */
}

.category-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.category-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  transition: transform 0.3s ease, font-size 0.3s ease;
  opacity: 0;
  transform: translateY(20px); /* Initial position */
}

.category-card:hover .category-title {
  transform: translateY(0) scale(1.2);
  font-size: 1.4em;
  opacity: 1;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border: 15px solid #80061f; /* Border color on hover */
}

.category-card:hover img {
  transform: rotate(5deg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.category-card img {
  animation: zoomInOut 5s infinite;
}

.category-card:hover img {
  transform: scale(1.2);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.category-title.bounce {
  animation: bounce 2s infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.category-title.fadeInOut {
  animation: fadeInOut 3s infinite;
}

@media (max-width: 1280px) {
  .categories-container {
    padding: 16px;
  }
  .categories-container h1 {
    font-size: 3.1em;
  }
  .categories-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .category-card:hover .category-title {
    font-size: 1.2em;
  }
}

@media (max-width: 1024px) {
  .categories-container h1 {
    font-size: 2.9em;
  }
}

@media (max-width: 800px) {
  .categories-container h1 {
    font-size: 2.5em;
  }
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .categories-container h1 {
    font-size: 2.2em;
  }
  .categories-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
